<mat-toolbar>
    <button routerLink="/home-button" routerLinkActive="active" aria-activedescendant="page">
        <span>Tinner</span>
    </button>
    <button routerLink="/members" routerLinkActive="active" aria-activedescendant="page">
        <span>Members</span>
    </button>
    <button routerLink="/server-error" routerLinkActive="active" aria-activedescendant="page">
        <span>XYZ</span>
    </button>

    <span class="my-spacer"></span>
    <button routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
    </button>
</mat-toolbar>
